@(activities : List[Activity])
@import helper._

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find a Park</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/custom.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
</head>
<body>
<h1>What would you like to do?</h1>


<form method="POST" action="parkResults">
    @CSRF.formField

<table>
    @for(activity <- activities){
    <tr>
        <td><input type="checkbox" name="activityId[]" value="@activity.getActivityId()">@activity.getActivityName()<br></td>
    </tr>
    }
</table>

    <input type="submit" value="Get Parks">

</form>


</body>
</html>