@(activities : List[Activity])
@import helper._

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find a Park</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/custom.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <h1>What would you like to do?</h1><br>


    <form method="POST" action="parkResults">
        @CSRF.formField

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                @for(activity <- activities){
                <div class="col-md-6" id="background">
                    <input type="checkbox" name="activityId[]" value="@activity.getActivityId()">  @activity.getActivityName()
                </div>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <input type="submit" class="btn btn-block" value="Get Parks">
            </div>
        </div>

    </form>
</div>

</body>
</html>