@(park : Park, parkActivities : List[Activity], apiKey : String)
@import helper._

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@park.getParkName</title>

</head>
<body>

<h1>@park.getParkName()</h1>

<h2>Things to do at @park.getParkName():</h2>

<table>
    @for(parkActivity <- parkActivities){
    <tr>
        <td>@parkActivity.getActivityName()<br></td>
    </tr>
    }
</table><br>

<p>
    Drive time to @park.getParkName(): @park.getDurationText
</p>

<iframe
        width="600"
        height="450"
        src="https://www.google.com/maps/embed/v1/directions?key=@apiKey&origin=35.090791,-92.4421768&destination=@park.getLatitude(),@park.getLongitude()">
</iframe>


<br><p>
    Park Website: <a href="@park.getWebsite()" @park.getWebsite()>@park.getWebsite()</a>
</p>

<form method="post">
    @CSRF.formField

    <input type="submit" value="Visit @park.getParkName()">

</form>



</body>
</html>